<!DOCTYPE html>
<head>
    <h1>
        GERMANY: Some Fun Facts
    </h1>

    <h2>
        Geography
    </h2>

    <p>
        Germany, or the 'Federal Republic of Germany', is a country in western europe.
    </p>
    <p>
        It has a population of over 83 million, making it the highest populated nation in the EU
    </p>

    <p>
        Germany's borders are Denmark, Poland, Czech Republic, Austria, Switzerland, France, Luxemborg, Belgium, and The Netherlands
    </p>

    <p>
        Berlin is the capital of the country
    </p>

    <p><a href="/germanyHistory">History</a></p>
</head>
</html>